/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:darkgreen;
    color: #fff;
    padding: 20px;
}

.hero {
    color: black;
    padding: 20px;
}

.fauna {
    color: white;
    background-color: darkgreen;
    padding: 20px;
}

.flora {
    color: black;
    background-color: white;
    padding: 20px;
}

.about {
    background-color:darkgreen ;
    color: white;
    padding: 20px;
}

.contact-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
