<div class="about">

    <h2>Un poco de historia sobre Funza</h2>
    <p>
        El topónimo Funza, en <i>musyc cubun</i> significa varón poderoso o gran señor. Se sugiere que aquí
        estaba asentada la capital del Zybyn (clan) Bacatá gobernado por el Zipa Tisquesusa en los tiempos de la
        llegada de los españoles. El municipio de Funza tiene una extensión territorial total de 100 km², de los
        cuales 10 km² corresponden al área urbana, y 90 km² al sector rural. Se encuentra a una altitud de 2.540
        m s. n. m. y tiene una temperatura promedio anual de 14 °C.
    </p>

    <section class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/funzanos_plaza.webp" class="card-img-top"
                    style="height: 266px; object-fit: contain;" alt="Cucarachero de Pantano">
                <div class="card-body">
                    <h5 class="card-title">Plaza Central</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/Humedal-Guali-patrimonio-y-orgullo-funzano-1-1024x576.webp" class="card-img-top"
                    style="height: 266px; object-fit: contain;" alt="Pato Andino">
                <div class="card-body">
                    <h5 class="card-title">Humedal Gualí</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497.0386510263798!2d-74.21205552675171!3d4.716252943343283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9d519d055d15%3A0xd5d04893bf20fc16!2sParque%20principal%20de%20Funza!5e0!3m2!1ses-419!2sco!4v1711500518319!5m2!1ses-419!2sco"
            style="height: 330px; width: 100%; border: 0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" title="Funza">
        </iframe>
        </div>
    </section>
    <br>
</div>