<div class="contact-form">
    <h2>Contacto</h2>
    <br>
    <section class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/promo-guali.webp" class="card-img-top"
                    style="height: 100%; object-fit: contain;" alt="Flyer del Humedal Gualí">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/wordcloud.webp" class="card-img-top"
                    style="height: 100%; object-fit: contain;" alt="Mudo Letras">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/static/img/gato_ventana.webp" class="card-img-top"
                    style="height: 100%; object-fit: contain;" alt="Foto del gato Manolo">
            </div>
        </div>
    </section>

    <p>
        Funza tiene su secretaría de ambiente la cual puedes contactar por correo electrónico o ir hasta sus
        instalaciones. Adicional hay otras entidades ONG y personas que buscan conservar los humedales,
        haciéndolos visibles junto con su problemática para que tomemos consciencia y podamos frenar el
        deterioro de los mismos ya que los humedales además de ser reguladores del caudal del río, también
        albergan aves migratorias y endémicas que están en riesgo de desaparecer por nuestra ingerencia.
    </p>
    <br>
    <h2>Formulario de Contacto</h2>
    <form action="/submit_contact" method="post">
        <div class="mb-3">
            <label for="name1" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="name1" name="name1" required maxlength="50">
        </div>

        <div class="mb-3">
            <label for="lastname" class="form-label">Apellidos:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required maxlength="50">
        </div>

        <div class="mb-3">
            <label for="id_document" class="form-label">Documento de Identificación:</label>
            <input type="text" class="form-control" id="id_document" name="id_document" required maxlength="35">
        </div>

        <div class="mb-3">
            <label for="correoe" class="form-label">Email address</label>
            <input type="email" class="form-control" id="correoe" name="correoe" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Teléfono:</label>
            <input type="tel" class="form-control" id="phone" name="phone" maxlength="12">
        </div>
        
        <div class="mb-3">
            <label for="message" class="form-label">Mensaje</label>
            <textarea class="form-control" id="message" name="message" type="text" rows="3"></textarea>
        </div>
        
        <button type="submit" name="enviar">Enviar</button>
        <button type="button" onclick="window.location.href='/';">Cancelar</button>
    </form>

    {% if table_html %}
    <h2>Datos de Especies de Cundinamarca</h2>
    {{ table_html|safe }}
    {% endif %}

    {% if graph_html %}
    <h2>Gráfico Especies de Cundinamarca</h2>
    <div style="border: 5px rgb(16, 38, 119) solid;">
        {{ graph_html|safe }}
    </div>
    {% endif %}
    
</div>
