<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mostrar Resultados</title>
</head>
<body>
    <strong>Nombres: </strong>{{name1}}
    <br>
    <strong>Apellidos: </strong>{{lastname}}
    <br>
    <strong>Documento: </strong>{{id_document}}
    <br>
    <strong>Email: </strong>{{correoe}}
    <br>
    <strong>Teléfono: </strong>{{phone}}
    <br>
    <strong>Gracias por contactarnos</strong>
</body>
</html>