<!-- Sección de Fauna -->
<div class="fauna">
    <h2>La fauna en nuestro municipio</h2>

    <p>
        Nuestra fauna está conformada por aves que viven en su mayoría en los humedales cercanos. Tenemos
        especies como el cucarachero de pantano, el pato andino, la tingua bogotana, la tingua de pico verde,
        entre otras aves. Reptiles como la rana sabanera y la culebra sabanera. Algunos mamíferos como el ratón
        de campo y los tradicionales perros y gatos domésticos.
    </p>
    <section class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/cucarachero_de_pantano.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Cucarachero de Pantano">
                <div class="card-body">
                    <h5 class="card-title">Cucarachero de Pantano</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/pato-ANDINO.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Pato Andino">
                <div class="card-body">
                    <h5 class="card-title">Pato Andino</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/rana_sabanera.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Rana Sabanera">
                <div class="card-body">
                    <h5 class="card-title">Rana Sabanera</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/tingua_bogotana.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Tigua Bogotana">
                <div class="card-body">
                    <h5 class="card-title">Tigua Bogotana</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/tingua_pico_verde.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Tigua Pico Verde">
                <div class="card-body">
                    <h5 class="card-title">Tigua Pico Verde</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/torcazas_funza.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Torcazas">
                <div class="card-body">
                    <h5 class="card-title">Torcazas</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/rana-andina.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Rana Andina">
                <div class="card-body">
                    <h5 class="card-title">Rana Andina</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/serpiente-tierrera.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Serpiente Tierrera">
                <div class="card-body">
                    <h5 class="card-title">Serpiente Tierrera</h5>
                </div>
            </div>
        </div>
    </section>
    
</div>