<!-- Sección de Flora -->
<div class="flora">
    <h2>La flora en nuestro municipio</h2>
    <p>
        La flora del municipio se ha visto ampliamente modificada ya que sus humedales han ido perdiendo terreno
        frente a la actividad agrícola, ganadería, urbanización e industrialización de la zona. Se tienen
        árboles como el eucalipto, las acacias, el jazmín, y otros más. Además de las plantas florales que
        crecen de manera natural por los parques de la zona. Las urbanizaciones han dado más cabida a plantas
        ornamentales que no son endémicas y han generado desbalance en la zona.
    </p>
    <section class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/eucalipto.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Eucalipto">
                <div class="card-body">
                    <h5 class="card-title">Eucalipto</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/acacia-dealbata-1200x800.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Acacia">
                <div class="card-body">
                    <h5 class="card-title">Acacia</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/jazmin-de-leche-flor.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Jazmin de Leche">
                <div class="card-body">
                    <h5 class="card-title">Jazmin de Leche</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/arbol_plaza_funza.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Cedro">
                <div class="card-body">
                    <h5 class="card-title">Cedro</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/flor_funza.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Amarilis Rojo">
                <div class="card-body">
                    <h5 class="card-title">Amarilis Rojo</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/flores_amarillas.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Escorzonera">
                <div class="card-body">
                    <h5 class="card-title">Escorzonera</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/te-de-bogota.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Escorzonera">
                <div class="card-body">
                    <h5 class="card-title">Te de Bogotá</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/static/img/humedal_la_florida.webp" class="card-img-top" style="height: 266px; object-fit: contain;" alt="Escorzonera">
                <div class="card-body">
                    <h5 class="card-title">Humedal La Florida</h5>
                </div>
            </div>
        </div>
    </section>
</div>