<div class="hero">
    
    <h2>Funza, Villa Imperial</h2>
    <br>
    <p>
        Funza, municipio de Cundinamarca, ubicado sobre la sabana occidente colinda con Mosquera, Madrid, Tenjo,
        Cota y el río Bogotá. Está el casco urbano rodeado de humedales alimentados del río Bogotá y que sirven
        como controladores del caudal cuando hay exceso por las lluvias.
    </p>
    <p>
        En esta página tengo como objetivo mostrar un poco de la biodiversidad del municipio para hacerla más
        visible y esto contribuya a los esfuerzos que personas y organizaciones tanto municipales como de otros
        niveles vienen desarrollando para conservar el ambiente de la zona.
    </p>
    <br>
</div>
